body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100%;
}

header{
  background-color: #d6d9da;
}

nav{
  background-color:azure;
  display: inline-block;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  text-align: left;
  font-size: 150%;
  line-height: 125%;
}

nav ul {
  display: flex;
  gap: 50px;               
  list-style: none;
}

nav a {
  text-decoration: none;
}

nav img {
  height: auto;             
  width: 10%;                
  position: relative;  
  top: 20px;; 
}

header img {
  display: block;
  margin: 0 auto;
}

main{
  background-color: #f5d4b5;
  font-size: 150%;
  padding: 20px 20px;
}

footer{
  background-color: azure;
  padding:5px;
}

/* 
li{
  display: inline-block;
  width: 50%;
}
*/

h1{
  text-align: center;
  font-family: cursive;
  font-size: 250%;
}

p{
  line-height: 125%;
  font-size: 100%;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex img {
  width: 12%;
}

.current{
  text-transform: uppercase;
}

.grid {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-between;
}


.grid img {
  width: 100%;
  height: auto;
  
}